# CHANNELS=./etc/channels-lock.scm
# MANIFEST=./etc/manifest.scm
# LOAD_PATH=./lib
ROOT=./.guix-shell

# TIME_MACHINE_FLAGS+=" --channels=$CHANNELS"
# SHELL_FLAGS+=" --manifest=$MANIFEST"
SHELL_FLAGS+=" --search-paths"
# SHELL_FLAGS+=" --root=$ROOT"
# SHELL_FLAGS+=" --load-path=$LOAD_PATH"

use_guix_shell() {
  test -d "$ROOT" && unlink "$ROOT"
  eval "$(guix shell $SHELL_FLAGS)"
}

use guix_shell

export CLASSPATH=$CLASSPATH:./build/lib/m2/ru/spbstu/telematics/java/java-2024-lab2/0.0.0/java-2024-lab2-0.0.0.jar
